python-dotenv
langchain
langchain-community
langchain-openai
langgraph
openai
faiss-cpu
pydantic
beautifulsoup4
requests
streamlit
wikipedia
langchain-core
langsmith
langchain[openai]
pypdf
pymupdf
streamlit[pdf]
pdfplumber
ragas
mlflow